@use "sass:math";

@mixin grid-adaptive($size, $auto: auto-fill, $align: start, $justify: start) {
  display: grid;
  grid-template-columns: repeat($auto, minmax(min($size, 100%), 1fr));
  align-items: $align;
  justify-items: $justify;
  grid-template-rows: auto;
}