@use '../../../shared/styles/themes/dark';

.bus-card {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;

  &--default {}

  &--remove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}