/* @import "./themeDark.css";
@import "./themeLight.css"; */

@theme {
  --color-bg: var(--theme-bg);
  --color-surface: var(--theme-surface);
  --color-surface-hover: var(--theme-surface-hover);
  --color-text: var(--theme-text);
  --color-text-muted: var(--theme-text-muted);
  --color-border: var(--theme-border);
  --color-primary: var(--theme-primary);
  --color-primary-hover: var(--theme-primary-hover);
  --color-success: var(--theme-success);
  --color-warning: var(--theme-warning);
  --color-danger: var(--theme-danger);
  --color-overlay: var(--theme-overlay);
}

/* @theme {
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);

  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);

  --color-border: var(--color-border);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-danger: var(--color-danger);

  --color-overlay: rgb(15 23 42 / 40%);
}

@theme {
  --color-bg: var(--color-bg);
  --color-surface: var(--color-surface);
  --color-surface-hover: var(--color-surface-hover);

  --color-text: var(--color-text);
  --color-text-muted: var(--color-text-muted);

  --color-border: var(--color-border);

  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-danger: var(--color-danger);

  --color-overlay: rgb(15 23 42 / 40%);
} */